.item-book {
  text-align: center;
  display: flex;
  flex-direction: column;
  // margin-top: auto;
  flex: 1 1 auto;
  .item-top.right {
    // flex-shrink: 0;
    img{
      // width: 90% !important;
      height: 200px;
      width: 150px;
    }
  }
  .item-title {
    font-weight: 600;
    -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  }
  .item-bottom {
    button {
      background-color: #3b71ca;
      border: 1px solid transparent;
      outline: none;
      padding: 3px 18px;
      color: #fff;
      border-radius: 999px;
      &:hover {
   
        color: #3b71ca;
        background-color: #fff;
        border: 1px solid #3b71ca;
      }
    }
    margin-top: auto;
    .price {
      font-weight: 700;
      color: green;
    }
    &.right{
      button {
        background-color: #fff;
        border: 1px solid #3b71ca;
        outline: none;
        padding: 3px 18px;
        color: #3b71ca;
        border-radius: 0px !important;
        transition: all .2s ease;
        &:hover {
   
          color: #fff;
          background-color: #3b71ca;
          border: 1px solid #3b71ca;
        }
      }
    }
  }
}
