.admin-container {
  display: flex;
    gap: 10px;
  .sidebar {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px -1px 10px 4px rgba(0, 0, 0, 0.03);
    height: 100vh;
    .logo {
      img {
        width: 180px;
      }
    }
    .user-layout {
      display: flex;
      margin-top: 2rem;
      gap: 10px;
      align-items: center;
      padding: 10px;
      background-color: #f7f8fc;
      border-radius: 10px;
      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
      .name-user {
        p {
          font-weight: 700 !important;
          color: black;
        }
        span {
          color: grey;
          font-size: 0.9em;
        }
      }
    }
    .list-manager {
      p {
        color: rgb(130, 127, 127);
        font-weight: bold;
        margin-bottom: 1rem !important;
        font-size: 0.9em;
      }
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .item-list {
        color: #969ca1;
        padding: 8px;
        border-radius: 10px;
        &.active {
          color: #969ca1;
          background: #ecf9f2;
          color:#00a956;
        }
      }
    }
  }
  .content{
    flex:1;

  }
}
.admin{
  margin: 0 auto;
}
.admin-container-welcome{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .admin-welcome{
    background-color: rgb(242, 237, 237);
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    div:nth-child(1){
      font-size: 3.3em;
      color: #2eca7f;
      font-weight: bold;
    }
    div:nth-child(2){
      font-size: 2em;
      font-weight: bold;
    }
  }
  .admin-img{
    padding: 20px;

    img{
      width: 450px;
    }
  }

}